    <div class="alert" alert-util="isHidden">
        <div class="alert-body">
            <div class="alert-content">
                <div class="alert-header">
                    <div class="alert-box-title"></div>
                </div>
                <div class="alert-vertical-container">
                    <div class="alert-box-message"></div>
                </div>
                <div class="alert-footer">
                    <div class="ccbutton centered" style="margin:0;float:right;z-index:1000;" ng-click="showAlert({'title':'', 'message':''})">
                        <div>OK</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
